* {
  margin: 0 0;
  padding: 0 0;
}
body {
  font-family: arial;
  font-size: 14px;
  line-height: 20px;
  color: #3b3b3b;
}
.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
header .logo {
  float: left;
}
header .nav {
  float: right;
  margin-top: 44px;
}
.nav ul {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}
.nav ul li {
  display: inline-block;
  margin: 0 0;
  padding: 0 17px;
  border-right: 1px solid #ccc;
}
.nav ul li a {
  display: block;
  text-decoration: none;
  color: #858585;
  font-size: 16px;
  font-weight: normal;
  line-height: 13px;
}
.nav ul li:last-child {
  border-right: 0;
}
.nav ul li a:hover {
  color: #ff2391;
}
.nav ul li.active a {
  color: #ee7767;
}
header .logo img {
  width: 295px;
}
.main-banner {
  border: 0;
  border-radius: 0px;
}
.main-banner img {
  display: block;
  width: 100%;
  border-radius: 0;
}
.main-catagory-outer:after,
.home-blog-outer:after {
  content: "";
  display: table;
  clear: both;
}
.main-catagory-outer {
  text-align: center;
  margin: 40px 0;
}
.main-catagory-outer > div.main-cata,
.home-blog-outer > div.home-blog {
  display: inline-block;
  width: 22.5%;
  margin: 0 1%;
}
.main-catagory-outer > div.main-cata img {
  width: 100%;
  border: 2px dashed #a7a7a7;
  border-radius: 100%;
  display: block;
  padding: 2px;
}
.main-catagory-outer > div.main-cata a {
  text-decoration: none;
  color: #3b3b3b;
  font-weight: bold;
  font-size: 26px;
}
.main-catagory-outer > div.main-cata .name {
  margin-top: 20px;
}
.main-catagory-outer > div.main-cata a:hover img {
  border-color: #ee7767;
}
.main-catagory-outer > div.main-cata a:hover .name {
  color: #ff2391;
}
.home-blog-outer > div.home-blog img {
  display: block;
  width: 100%;
  box-shadow: 0 0 10px #00000094;
  margin-bottom: 20px;
  border: 2px dashed #ccc;
  border-radius: 5px;
}
.home-blog-outer > div.home-blog .title {
  color: #3b3b3b;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}
.home-blog-outer {
  text-align: center;
  margin: 50px 0;
}
.home-blog .cnt {
  line-height: 24px;
}
.home-blog-outer .btn-outer a {
  background: #ee7767;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 20px;
}
.home-blog-outer .btn-outer {
  margin-top: 15px;
}
.home-blog-outer .btn-outer a:hover {
  background: #000;
}
.reviews-outer {
  text-align: center;
}
.review-title .title-inr {
  display: inline-block;
  position: relative;
  padding: 0 121px;
  font-size: 27px;
  display: none;
}
.review-title .title-inr:after {
  content: "";
  display: block;
  clear: both;
  background: url(../images/review-title-bg.png) no-repeat 0 0;
  width: 350px;
  background-size: 100%;
  height: 103px;
  position: absolute;
  top: -10px;
  left: 0;
}
.review-title .title-inr span {
  display: block;
  background: #fff;
  z-index: 9;
  position: relative;
  padding: 15px 20px;
}
.review-cont-slider {
  background: #ee7767;
  padding: 50px 0;
  margin-top: 108px;
  color: #fff;
  border-radius: 0;
}
.review-cont-slider .name {
  font-weight: bold;
  font-size: 17px;
  margin: 15px 0;
}
.review-cont-slider .cont {
  width: 40%;
  margin: 0 auto;
  line-height: 26px;
  padding-left: 0;
  margin-left: 0;
  float: right;
  position: relative;
  text-align: justify;
}
.review-cont-slider .cont:before {
  content: "";
  display: block;
  clear: both;
  background: url(../images/review-title-img.png) no-repeat 0 0;
  width: 93px;
  background-size: 100%;
  height: 100%;
  position: absolute;
  top: -17px;
  left: -152px;
  padding-bottom: 52px;
}
.review-cont-slider .container {
  border: 0;
  padding: 50px 30px 23px;
  width: 1000px;
  position: relative;
}
.review-cont-slider .container:after {
  content: "";
  display: block;
  clear: both;
  background: #fff url(../images/stech-reviw-icon.png) no-repeat 0 0;
  width: 110px;
  height: 92px;
  background-size: 55%;
  border-radius: 100%;
  padding: 15px;
  position: absolute;
  top: -124px;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: none;
  background-position: center 29px;
}
footer {
  background: #161616;
  padding: 45px 0 0px 0px;
}
.footer-inr {
  text-align: center;
}
.footer-inr > div {
  display: inline-block;
  width: 22%;
  color: #fff;
  vertical-align: top;
  text-align: left;
  margin: 0 5%;
}
.footer-inr .title {
  border-bottom: 1px solid #ee7767;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.footer-inr > div ul {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}
.footer-inr > div ul li {
  margin-bottom: 10px;
}
.footer-inr > div ul li a {
  color: #fff;
  text-decoration: none;
}
.footer-inr > div ul li a:hover {
  color: #ee7767;
}
.copyright {
  text-align: center;
  padding: 15px 0;
  background: #000;
  color: #fff;
  margin-top: 20px;
}
.copyright > span {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
}
.review-cont-slider img {
  width: 100px;
}
.review-con-outer:after {
  content: "";
  display: table;
  clear: both;
}
.review-con-outer {
  text-align: center;
}
.review-con-outer > div {
  display: inline-block;
  vertical-align: top;
}
.review-con-outer .img-outer {
  margin-top: 29px;
  margin-left: 39px;
}
.review-con-outer .cont {
  margin-top: 12px;
}
main {
  padding: 21px;
  margin-top: 100px;
}
.main-border {
  border: 2px dashed #a7a7a7;
  padding: 15px;
  border-radius: 5px;
  position: relative;
}
.cut-item {
  display: block;
  width: 40px;
  height: 33px;
  background: url(../images/cutting-item-icon.png) no-repeat 0 0;
  background-size: 100%;
  position: absolute;
}
.cut-item.top-left {
  top: 227px;
  left: -23px;
  transform: rotate(87deg);
}
.cut-item.left-bottom {
  bottom: 394px;
  left: -23px;
  transform: rotate(87deg);
}
.cut-item.top-right {
  top: 227px;
  right: -23px;
  transform: rotate(272deg);
}
.cut-item.right-bottom {
  bottom: 394px;
  right: -23px;
  transform: rotate(272deg);
}
.cut-item.bottom {
  left: 50%;
}
header {
  position: fixed;
  z-index: 9;
  background: #fff;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
/*--------------List Page-----------*/
.breadcumb ul {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}
.breadcumb ul li {
  display: inline-block;
  color: #909090;
  font-size: 14px;
}
.breadcumb ul li a {
  color: #ff2391;
  text-decoration: none;
}
.breadcumb ul li:after {
  content: ">";
  display: inline-block;
  clear: both;
  margin: 0 10px;
}
.breadcumb ul li:last-child:after {
  display: none;
}
.breadcumb {
  padding-top: 10px;
  padding-bottom: 20px;
}
.list-catagory-item-outer {
  background: #eeeeee;
  margin: 0 13px 30px;
}
.list-catagory-item-outer .container > div {
  display: inline-block;
  padding: 15px 0;
  color: #909090;
}
.list-catagory-item-outer .catagory-name {
  font-size: 20px;
  color: #909090;
  font-weight: bold;
  margin-right: 36px;
}
.list-catagory-item-outer .container .select-style {
  float: right;
}
.pro-grid {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}
.pro-grid li {
  width: 21.54%;
  display: inline-block;
  box-shadow: 0 0 10px #00000078;
  margin: 0 10px 25px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
.pro-grid li img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.pro-grid li .name {
  margin: 15px 0;
}
.cms-con {
  min-height: 800px;
  width: 75%;
  margin: 50px auto;
  text-align: justify;
  line-height: 27px;
  padding: 40px;
  box-shadow: 0 0 20px #00000078;
}
.cms-con .title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  header .logo img {
    width: 200px;
  }
  .nav ul li {
    padding: 0 15px;
  }
  header .nav {
    margin-top: 29px;
  }
  .review-cont-slider .container {
    width: 900px;
  }
  .review-cont-slider .cont {
    font-size: 12px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  header .logo img {
    width: 170px;
  }
  .review-cont-slider .container {
    width: 640px;
  }
  .review-cont-slider .cont {
    width: 100%;
  }
  .nav ul li a {
    font-size: 12px;
  }
  .nav ul li {
    padding: 0 8px;
  }
  header .nav {
    margin-top: 21px;
  }
  .main-catagory-outer > div.main-cata a {
    font-size: 20px;
  }
  .home-blog-outer > div.home-blog .title {
    font-size: 17px;
  }
  .home-blog .cnt {
    line-height: 19px;
    font-size: 13px;
  }
  .review-title .title-inr {
    font-size: 20px;
    padding: 0 100px;
  }
  .review-title .title-inr:after {
    width: 305px;
  }
  .review-cont-slider img {
    width: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .review-cont-slider .container {
    width: 85%;
    padding: 24px 30px 50px;
  }
  .review-cont-slider .cont {
    width: 100%;
    font-size: 12px;
  }
  .review-cont-slider img {
    width: 70px;
  }
  .review-cont-slider .container:after {
    width: 100px;
    height: 85px;
  }
  header .logo img {
    width: 200px;
  }
  .nav ul.nav-ul {
    display: none;
  }
  .nav ul.nav-ul.nav-active {
    display: block;
    position: absolute;
    left: 0;
    background: #fff;
    top: 76px;
    width: 100%;
    padding-bottom: 15px;
  }
  .nav ul li {
    display: block;
    margin: 0 0;
    padding: 14px 17px;
    border-right: 0;
    border-bottom: 2px dashed #ccc;
  }
  .mob-nav > span {
    display: block;
    background: #666666;
    width: 22px;
    height: 2px;
    margin-bottom: 5px;
  }
  header .nav {
    margin-top: 28px;
  }
  .mob-nav {
    margin-right: 10px;
  }
  .main-catagory-outer > div.main-cata,
  .home-blog-outer > div.home-blog {
    vertical-align: top;
  }
  .main-catagory-outer > div.main-cata a {
    font-size: 18px;
  }
  .main-catagory-outer > div.main-cata img {
    width: 80%;
    margin: 0 auto;
  }
  .home-blog-outer > div.home-blog {
    width: 43%;
    margin: 0 3% 6%;
  }
  main {
    padding: 15px;
    margin-top: 70px;
  }
  .container {
    max-width: none;
  }
  .main-border .container {
    padding: 0 0;
  }
  .home-blog-outer > div.home-blog .title {
    font-size: 16px;
  }
  .home-blog-outer .btn-outer a {
    padding: 8px 22px;
  }
  .review-cont-slider {
    margin-top: 65px;
  }
  .review-con-outer .img-outer {
    margin-left: 0;
  }
  .main-border {
    padding: 15px 15px 35px;
  }
  .cut-item.bottom {
    left: 50%;
    bottom: -20px;
  }
  .pro-grid li {
    width: 35.54%;
    font-size: 15px;
  }
  .pro-grid li .name {
    margin: 6px 0;
  }
  .list-catagory-item-outer {
    margin: 0 0 30px;
    padding: 0 12px;
  }
  .list-catagory-item-outer .container > div {
    padding: 10px 0;
  }
  .list-catagory-item-outer .catagory-name {
    padding-bottom: 0 !important;
  }
}
@media only screen and (max-width: 480px) {
  .review-cont-slider .container {
    width: 76%;
  }
  .review-title .title-inr {
    padding: 0 92px;
  }
  .review-title .title-inr:after {
    width: 300px;
  }
  .main-catagory-outer > div.main-cata {
    width: 46.5%;
    margin: 0 1% 8%;
  }
  .home-blog-outer {
    margin: 10px 0 40px;
  }
  .main-catagory-outer {
    margin: 25px 0 0;
  }
  .footer-inr > div {
    width: 100%;
    margin: 0 0 30px;
  }
  .copyright > span {
    margin: 0 11px;
  }
}
